/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
    &kp 1 &kp 4 &kp 7    &kp Q &kp W  &kp E
    &kp 2 &kp 5 &kp 8    &kp A &kp S  &kp D
    &kp 3 &kp 6 &kp 9    &kp Y &kp X  &kp F
                        >;
                };
        };
};
